<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>main.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
  <form action="/user/upUser" method="post">
  		<table width="500px" align="center" border="1px">
    	<tr>
    		<td>姓名</td>
    		<td><input type="text" name="name" th:value="${session.upUser.name}"/></td>
    	</tr>
    	<tr>
    		<td>年龄</td>
    		<td><input type="text" name="age" th:value="${session.upUser.age}"/></td>
    	</tr>
    	<tr >
    		<td>
    			<input type="reset" value="重置"/>
    		</td>
    		<td>
    			<input type="submit" value="确认"/>
    			<input type="hidden" name="id" th:value="${session.upUser.id}"/>
    		</td>
    	</tr>
    </table>
  </form>
    
  </body>
</html>
