<!DOCTYPE HTML>
<head>
<title>新用户注册</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="../confirm/mycss.css"/>
<link href="../web/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<script type="text/javascript" src="../web/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="../web/js/move-top.js"></script>
<script type="text/javascript" src="../web/js/easing.js"></script>
	<script  src="../confirm/myjs.js" ></script>
</head>
<body>
	<div class="header">
		 <div class="headertop_desc">
			<div class="wrap">
				<div class="nav_list">
					<ul>
						<li><a href="/film/login">登录</a></li>
					</ul>
				</div>
					<div class="account_desc">
						<ul>
							<li><a href="#"></a></li>
						</ul>
					</div>
				<div class="clear"></div>
			</div>
	  	</div>
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" alt="" /></a>
					</div>
						<div class="header_top_right">

						 <div class="clear"></div>
					</div>

			   <div class="clear"></div>
  		    </div>     				
   		</div>
   </div>
 <div class="main">
 	<div class="wrap">
     <div class="content">
     	<!--<div class="content_top">
    		<div class="back-links">

    	    </div>
    		<div class="clear"></div>
    	</div>-->
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form" style="width: 500px">
				  	<h2>用户注册</h2>
					    <form method="post" action="/web/addSignIn" >
					    	<div>
						    	<span><label>账户名</label></span>
						    	<span><input name="name" type="text" class="textbox" ></span>
						    </div>
						    <div >
								<span><label>密码</label></span>
								<span ><input name="pwd" type="password" class="textbox" style="width: 500px"></span>
						    </div>
							<div>
								<span><input name="type" type="hidden" value="user" class="textbox"></span>
							</div>

						   <div>
						   		<span><input type="submit" value="确认注册"  class="mybutton" onclick="zhuce()" ></span>
						  </div>

					    </form>
				  </div>
  				</div>
				<div class="col span_1_of_3">

				 </div>
			  </div>		
         </div> 
    </div>
 </div>
   <div class="footer">
   	  <div class="wrap">

        </div>
    </div>

	<script type="text/javascript">
		function del(id){
			var result=window.confirm("确认删除订单？");
			if(result){
				window.location.href="@{/web/delOrder(id=${order.id},uid=${session.curruser.id})}"+id;
			}
		}

	</script>

    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>

	<script>

		function  zhuce(){
			var txt=  "注册成功！！！    页面自动跳转中...";
			window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.success);

		}
	</script>

</body>
</html>

